{
    "extends": [
      "@nuxtjs/eslint-config-typescript"
    ],
    "rules": {
      "no-console": "off"
    },
    "parser": '@typescript-eslint/parser',
    "parserOptions": {
      "project": './tsconfig.json', // Path to your tsconfig.json file
      "extraFileExtensions": ['.vue'] // Path to your tsconfig.json file
    }
  }